<div class="container">
    <h1><%= @pool.name %></h1>
    
    <div class="pool-details">
      <p><strong>住所：</strong><%= @pool.address %></p>
      <p><strong>所属市：</strong><%= @pool.city.name %></p>
      <p><strong>料金：</strong>大人 <%= @pool.adult_price %>円 / 子供 <%= @pool.child_price %>円</p>
      
      <p><strong>施設の特徴：</strong></p>
      <ul>
        <li>屋内プール: <%= @pool.indoor ? "あり" : "なし" %></li>
        <li>屋外プール: <%= @pool.outdoor ? "あり" : "なし" %></li>
        <li>サウナ: <%= @pool.sauna ? "あり" : "なし" %></li>
        <li>50mプール: <%= @pool.fifty ? "あり" : "なし" %></li>
      </ul>
  
      <p>

        <%= link_to "公式サイトを見る", @pool.url, target: "_blank", rel: "noopener", class: "btn btn-link" %>
      </p>
    </div>

    <div class="posts-container">
    <h2>このプールに関連する投稿</h2>
    <% if @posts.any? %>
        <% @posts.each do |post| %>
        <div class="post-box">
            <h3><%= link_to post.title, post_path(post), class: "post-title" %></h3>
            <p><strong>種類：</strong><%= post.category %></p>
            <p><strong>評価：</strong><%= post.review_rating.present? ? post.review_rating : "なし" %></p>
            <p><%= truncate(post.content, length: 100) %></p>
            <p><small>投稿者：<%= post.user.nickname %></small></p>
        </div>
        <% end %>
    <% else %>
        <p>このプールに関連する投稿はまだありません。</p>
    <% end %>
    </div>
  
    <div class="back-link">
      <%= link_to "市の詳細に戻る", city_path(@pool.city.slug), class: "btn btn-back" %>
    </div>
  </div>
  