<div class="post-container">
    <h2>レビュー投稿</h2>
    <%= form_with model: @post, local: true do |f| %>
      <div>
        <%= f.label :title, "タイトル" %><br>
        <%= f.text_field :title, class: "form-input" %>
      </div>
      <div>
        <%= f.label :content, "レビューの内容" %><br>
        <%= f.text_area :content, rows: 5, class: "form-textarea" %>
      </div>
      <div>
        <%= f.label :review_rating, "評価 (1〜5)" %><br>
        <%= f.number_field :review_rating, in: 1..5, class: "form-input" %>
      </div>
      <%= f.hidden_field :category, value: "レビュー" %>
      <%= f.submit "投稿する", class: "button submit-button" %>
    <% end %>
  </div>
  